* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    
}
.hero {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)) no-repeat center/cover;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
   padding: 0 100px;
   background: rgba(0,0,0,0.3);
   backdrop-filter: blur(3px);
 }
 nav .logo {
   width:  80px;
   transition-property: transform;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    transition-delay: 0s;
    display: inline-block;
    border-bottom: 2px solid transparent;
    margin-top: auto;
 }
   nav .logo:hover {
    transform: rotate(138deg);
    transition: all 0.6s ease;
    border-bottom: 2px solid #ffffff;
    box-shadow: 0 0 10px #d0c9d2; /* glowing effect */
    border-radius: 1000px;
    }
    nav ul li{
        display: inline-block;
        list-style: none;
        margin-left: 20px;
        margin-right: 10px;
    }
    nav ul li a {
      text-decoration: none;
      color: #FFFFFF; /* default color */
      font-size: 18px;
      font-weight: bold;
     padding: 6px 12px;
      border-radius: 6px;
      display: inline-block;
        transition: all 0.6s ease;
        border-bottom: 2px solid transparent;
    }

   nav ul li a:hover {
  color: #fff; /* hover text color */
  /*background: linear-gradient(to right, #FF003C, #D100FF); /* gradient hover */
  border-radius: 6px;
  border-bottom: 2px solid #D100FF;
  text-shadow: 0 0 10px #D100FF; /* glowing effect */
  transform: scale(1.1); /* slight zoom effect */
  
}
.content{
    text-align: center;
}
.content h1{
    font-size: 60px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 600;
    transition: 0.5s;
}   
.content p{
    font-size: 20px;
    color: #fff;
    margin-bottom: 30px;
    font-weight: 500;
    padding: 0;
    transition: 1s;
    font-family: Arial, Helvetica, sans-serif;
}
.content a{
    text-decoration: none;
    background-color: black;
    color: #f6f6f6;
    border:  none;
    padding:  14px 70px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 600;
    transition: 0.5s;
    margin-top: 20px;
   position: relative;
    justify-content: center;
    align-items: center;
   display: inline-flex;
   box-shadow: 0 0 20px rgba(0, 140, 255, 0.5);
}
.content a::after{
    
    content: ' ';
    position: absolute;
    height:102%;
    width: 103%;
    border-radius: 1000px;
    background-image: linear-gradient(to bottom right,#008cff,#e100ff);
    z-index: -1;
}
.content a:hover{
    background-image: linear-gradient(to bottom right,#008cff,#e100ff);
    color: #000000;
    box-shadow: 0 0 20px #d0c9d2;
  }
.back-video {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: -100px;
    margin-right: -150px;
    width: 120vw;
    height: 120vh;
    z-index: -1;
    overflow: hidden;
}

.back-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}